__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.coverage
build/
/debian/.debhelper/
/debian/debhelper-build-stamp
/debian/files
/debian/*.debhelper
/debian/*.substvars
/debian/tuxdrive/
.idea/
.vscode/
