#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	sh scripts/build-deb.sh

override_dh_auto_test:
	PYTHONPATH=src python3 -m unittest -v tests.test_packaging

override_dh_auto_install:
	rm -rf debian/tuxdrive
	mkdir -p debian/tuxdrive
	dpkg-deb -x dist/tuxindrive_$$(sed -n 's/^__version__ = "\([^"]*\)"/\1/p' src/tuxindrive/__init__.py)_all.deb debian/tuxdrive

override_dh_usrlocal:
