[Desktop Entry]
Name=TuxInDrive
Comment=Synchronize cloud files and share folders directly with encrypted peers
Exec=tuxindrive
Icon=tuxindrive
Terminal=false
Type=Application
Categories=Network;FileTransfer;Utility;
Keywords=OneDrive;Google Drive;Dropbox;Box;pCloud;MEGA;Proton Drive;Nextcloud;cloud;sync;streaming;files;
StartupNotify=true
StartupWMClass=io.github.tuxindrive.TuxInDrive
